#quickMenu {
	clear: both;;
	border-bottom: 6px solid #D00427;;
	padding-top: 3px
}

#quickMenu h2 {
	display: none
}

#quickMenu

 ul {
	font-size: 11px;;
	color: white;;
	height: 27px;;
	line-height: 100%;;
	margin: 0;;
	background-color: #fff;;
	border-bottom: none
}

#quickMenu ul li {
	display: inline
}

#quickMenu ul li a {
	text-decoration: none;;
	float: left;;
	height: 26px;;
	color: white;;
	float: left;;
	border-right: none;;
	font-weight: bold;;
	padding: 0
}

#quickMenu ul li a span {
	display: none
}

#quickMenu #qm_buy a {
	width: 52px;;
	height: 26px;;
	background: url(images/primeNav.gif) no-repeat 0px 0px
}

#quickMenu #qm_buy a:hover {
	background-position: 0px -26px
}

#quickMenu #qm_buy .active {
	background-position: 0px -26px;;
	border-bottom: 1px solid #D00327
}

#quickMenu #qm_rent a {
	width: 64px;;
	height: 26px;;
	background: url (images/primeNav.gif ) no-repeat -52px 0px
}

#quickMenu #qm_rent a:hover {
	background-position: -52px -26px
}

#quickMenu #qm_rent .active {
	background-position: -52px -26px
}

#quickMenu #qm_share a {
	width: 63px;;
	height: 26px;;
	background: url(images/primeNav.gif) no-repeat -116px 0px
}

#quickMenu #qm_share a:hover {
	background-position: -116px -26px
}

#quickMenu #qm_share .active {
	background-position: -116px -26px
}

#quickMenu

 #qm_renovate a {
	background: url(images/primeNav.gif) no-repeat -179px 0px;;
	width: 87px;;
	height: 26px
}

#quickMenu #qm_renovate a:hover {
	background-position: -179px -26px
}

#quickMenu #qm_renovate .active {
	background-position: -179px -26px
}

#quickMenu #qm_build a {
	width: 63px;;
	height: 26px;;
	background: url(images/primeNav.gif) no-repeat -266px 0px
}

#quickMenu #qm_build a:hover {
	background-position: -266px -26px
}

#quickMenu #qm_build

 .active {
	background-position: -266px -26px
}

#quickMenu #qm_sell a {
	width: 62px;;
	height: 26px;;
	background: url (images/primeNav.gif ) no-repeat -329px 0px
}

#quickMenu #qm_sell a:hover {
	background-position: -329px -26px
}

#quickMenu #qm_sell .active {
	background-position: -329px -26px
}

#quickMenu #qm_retire a {
	background: url(images/primeNav.gif) no-repeat -391px 0px;;
	width: 67px;;
	height: 26px
}

#quickMenu #qm_retire a:hover {
	background-position: -391px -26px
}

#quickMenu #qm_retire .active {
	background-position: -391px -26px
}